<div class="cards">
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>
	<div class="card down back" (click)="click($event)"></div>  
</div>
