<div style="position: absolute; top: 1; right: 0;">
    <h2 class="count">SCORE: {{respuestasCorrectas}}</h2>
</div>
<div style="position: absolute; top: 1; left: 0;">
    <h2 class="count">{{currentCard}}</h2>
</div>
<div *ngIf="start">
	<div style="position: absolute; top: 30%; left: 25%;">
		<span class="arrowbtn arrowbtn-up" (click)="higherOrLower('H')"></span>
	</div>
	<div style="position: absolute; top: 50%; right: 25%;">
		<span class="arrowbtn arrowbtn-down" (click)="higherOrLower('L')"></span>
	</div>
</div>
<div #deck class="cards">
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>
	<div class="card down back" (click)="click($event.target)"></div>  
</div>
