// body{
//     color: #6F8BA4;
//     margin-top:20px;
// }

.section {
    padding: 100px 0;
    position: relative;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: rgba(236, 209, 57, 0.85);;
  font-weight: 600;
  width: 88px;
  font-size: 25px;
  margin: 0;
  position: relative;
}
.about-list p {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.theme-color {
    color: rgba(236, 209, 57, 0.85);
}
.dark-color {
    color: rgba(236, 209, 57, 0.85);
}

.img-circle{
    border-radius: 50%;
    margin-top: -3vh !important;
}
