<!-- <div class="container">
    <div class="wrapper"><span>W</span><span>E</span><span>L</span><span>C</span><span>O</span><span>M</span><span>E</span></div>
</div> -->


        <!-- <div class="container" (click)="click($event)" [ngClass]="{'is-animated': animar}" (click)="animar = !animar">
            <div data-animate="panel">
                <div class="text">PLAY</div>
            </div>
        </div> -->

            <div class="waviy is-animated">
              <span style="--i:1">P</span>
              <span style="--i:2">L</span>
              <span style="--i:3">A</span>
              <span style="--i:4">Y</span>
             </div>