<!-- <form [formGroup]="loginForm" class="form sign-in">
    <div class="test" *ngIf="cargando" style="margin-top: 15vh;">
      <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
      </div>
    </div>
    <div *ngIf="!cargando">
      <h2>Welcome to Play-Room</h2>
      <div class="test">
        <mat-form-field>
          <mat-label [ngStyle]="{color: isNotValidField('username') && f['username'].dirty ? 'red' : 'black'}" >Email</mat-label>
          <mat-label>Email</mat-label>
          <input matInput formControlName="username" required />
          <mat-error *ngIf="isNotValidField('username')">
            {{getErrorMessage('username')}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="test">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'text' : 'password'" matInput formControlName="password"
            required />
          <svg (click)="hide = !hide" matSuffix xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
            <path
              d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
            <path
              d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
          </svg>
          <mat-error *ngIf="isNotValidField('password')">
            {{getErrorMessage('password')}}
          </mat-error>
          <mat-hint *ngIf="error" style="color: red;">{{errorMsj}}</mat-hint>
        </mat-form-field>
      </div>
      <button [disabled]="loginForm.invalid" (click)="onLogin()" type="button" class="submit">Sign In</button>
      <br>
      <button type="button" class="fb-btn" (click)="completarLogin()"><span>Completar Login</span></button>
    </div>
  </form> -->

  <div class="card-front">
    <div class="center-wrap">
      <div class="section text-center">
        <h4 class="mb-4 pb-3">Log In</h4>
        <form [formGroup]="loginForm" autocomplete="disabled">
          <div class="form-group">
            <input formControlName="username" placeholder="Your email" type="text" class="form-control form-style" [ngClass]="{'is-invalid': isNotValidField('username'), 'is-valid': !isNotValidField('username') && this.f['username'].touched}" id="validationSuccess" required autocomplete="disabled">
            <div class="invalid-feedback" style="font-size: small;">
              {{getErrorMessage('username')}}
           </div>
          </div>	
          <div class="form-group mt-2">
            <input formControlName="password" type="password" name="logpass" class="form-control form-style" placeholder="Your Password" [ngClass]="{'is-invalid': isNotValidField('password'), 'is-valid': !isNotValidField('password') && this.f['password'].touched}" id="logpass" autocomplete="disabled">
            <div class="invalid-feedback" style="font-size: small;">
              {{getErrorMessage('password')}}
           </div>
          </div>
          <button [disabled]="loginForm.invalid" (click)="onLogin()" class="btn mt-4">Sign In</button>
          <p class="mb-0 mt-4 text-center"><a (click)="completarLogin()" class="link">Autocomplete</a></p>
        </form>
          </div>
        </div>
  </div>