    <nav class="site-header sticky-top py-1">
        <div class="container">
            <div class="row">
              <div class="col">
                <button mat-icon-button *ngIf="sidenav.mode === 'over' && (isLoggedIn$ | async)" (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!sidenav.opened">
                        menu
                    </mat-icon>
                    <mat-icon *ngIf="sidenav.opened">
                        close
                    </mat-icon>
                </button>
              </div>
            </div>
          </div>
      </nav>
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
            <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

            <h4 class="name">John Smith</h4>
            <p class="designation">Software Engineer</p>

            <mat-divider></mat-divider>
            <button mat-button class="menu-button">
                <mat-icon class="rotate">home</mat-icon>
                <span class="rotate">Home</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-button class="menu-button">
                <mat-icon>info</mat-icon>
                <span>About</span>
            </button>
    
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button">
                <mat-icon>help</mat-icon>
                <span>Help</span>
            </button>
    
        </mat-sidenav>
        <mat-sidenav-content>
            <section class="showcase">
                <div class="video-container">
                    <video id="video-background" width="100%" height="100%" src="../assets/videos/Game.mp4" autoplay loop></video>
                </div>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>