/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.count{
    padding: 14px 16px;
    line-height: 40px;
    font-weight: 600;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    border-radius: 4px;
    display: inline-block;
    background: rgba(255,255,255,0.1);
    &.glow{
      text-shadow: (0 0 4px #ffffff);
    }
}
    